<app-header></app-header>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-4 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter une archive
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-add-edit></app-add-edit>
        </div>
      </div>
    </div>
  </div>